@model ticketer.Models.TicketOrder
@{
    ViewBag.Title = "Booking Confirmation";
}

<h2>Booking Confirmation</h2>

<p>Booking Time: @Model.BookingTime</p>
<p>Payment Status: @Model.PaymentStatus</p>
<p>Total Price: @Model.TotalPrice EGP</p>

<h4>Seats:</h4>
<ul>
    @foreach (var ticket in Model.Tickets)
    {
        <li>@ticket.RowNumber@ticket.SeatNumber (@ticket.SeatType)</li>
    }
</ul>
