@model IEnumerable<Producer>

@{
    ViewData["Title"] = "List of Producers";
}
<link rel="stylesheet" href="~/css/producer_actorIndex.css" />
<link rel="stylesheet" href="~/css/CinemaIndex.css" />
<div class="CAP-container">

    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.Bio)</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.ProfilePictureURL" alt="@item.FullName" /></td>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bio) </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>
                            <a class="btn btn-edit" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i> Edit </a>
                            <a class="btn btn-details" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i> Details </a>
                            <a class="btn btn-delete" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i> Delete </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


@await Html.PartialAsync("_CreateItem", "Producers") 