@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}
<link rel="stylesheet" href="~/css/movie.css" />
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="add-movie-fixed">
        <a asp-action="Add" class="btn btn-black">➕ Add New Movie</a>
    </div>
}
<div class="intro-section">
    <div class="intro-text">
        <h1 class="hover-zoom">Welcome to Ticketer</h1>
        <p class="hover-zoom">
            your go-to platform for booking movie tickets across different cinemas.
            Explore the latest releases, watch trailers, and choose your seat — all in one place. Fast, easy,
            and always up to date with the newest films.
            Skip the lines and enjoy the big screen hassle-free!
        </p>
    </div>
    <div class="intro-image hover-zoom">
        <img src="/img/ahmedhelmy.png" alt="actor" />
    </div>
</div>

@{
    var secondItem = Model.Skip(1).FirstOrDefault();
}

@if (secondItem != null)
{
    <h2 class="now-showing-title hover-zoom">Now Showing</h2>

    <div class="featured-movie hover-zoom">
        <a href="@Url.Action("showdetails", new { id = secondItem.Id })">
            <img src="@secondItem.ImageURL" alt="@secondItem.Name" />
            <div class="movie-name-overlay">@secondItem.Name</div>
        </a>
    </div>
}


<div class="movies-container">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("showdetails", new { id = item.Id })" class="movie-item hover-zoom">
            <img src="@item.ImageURL" alt="@item.Name" />
            <div class="movie-info">
                <p><strong>@item.Name</strong></p>
            </div>
        </a>
    }
</div>


@section Scripts {
    <script>
               document.addEventListener("DOMContentLoaded", function() {
            const container = document.querySelector('.movies-container');
            if (!container) return; 

            const itemsCount = container.children.length;

            if (itemsCount === 5) {
                container.classList.add('centered');
            } else {
                container.classList.remove('centered');
            }
        });

    </script>
    <script src="~/js/main.js"></script>
}
