@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="mb-3">
        <a asp-action="Add" class="btn btn-primary">➕ Add New Movie</a>
    </div>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                           
                            
                              <p class="card-text"><b>Name: </b>@item.Name</p>
                           
                            

                            @*
                        <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                              <p class="card-text"><b>release data </b>@item.ReleaseDate.ToString("dd MMM yy")</p>
                        *@
                           
                        </div>
                    </div>
                    
                     <div class="col-md-12">
                         <div class="card-footer ">
                             <p class="card-text">
                                 <a class="btn btn-outline-primary float-right" asp-action="showdetails" asp-route-id="@item.Id">
                                     <i class="bi bi-eye-fill"></i> Show Details
                                </a>   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>