@model List<ticketer.Models.TicketOrder>

@{
    ViewData["Title"] = "All orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h4>List of all your orders</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Order_Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none; padding-left:0;">
                                @foreach (var ticket in order.Tickets)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <!-- You can add amount if you track multiple tickets per timing here -->
                                            <strong>Timing:</strong> @ticket.timing.Showtime.Movie.Name <br />
                                            <strong>Price:</strong> @ticket.timing.Price.ToString("c")
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.TotalPrice.ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle">@order.User.FullName</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
